/* color palette:  
    f1e6e1 (seashell)
    ebdcd5 (champagne pink)
    ddafa1 (melon)
    7d4f50 (rose taupe)
    27637c (payne's gray)
    71816d (reseda green)
*/

/** to override the background color */
body {
    background-color: #ebdcd5 !important;
    min-height: 100vh;
}

.font {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;  /* from 100-900 */
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
}

.navbar { /* navbar background color */
    background-color: #27637c;   
}

.navbar-nav .navLink, /* navbar title */
.dropdown-toggle::after { /* Dropdown arrow */
    color: #ebdcd5;
}

/* Change the text & background color on hover */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-item:hover .nav-link {
    color: #27637c;
    background-color: rgba(235, 220, 213, 0.75);
}

/* Change the text color on hover for dropdown title */
.navbar-nav .nav-item:hover #dropdownTitle {
    color: #27637c;
}