/* color palette:  
    f1e6e1 (seashell)
    ebdcd5 (champagne pink)
    ddafa1 (melon)
    7d4f50 (rose taupe)
    27637c (payne's gray)
    71816d (reseda green)
*/

/** to override the background color */
body {
    background-color: #ebdcd5 !important;
    min-height: 100vh;
}

.font {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;  /* from 100-900 */
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
}

.navbar {   /* navbar background */
    background-color: rgba(235, 220, 213, 0.5);
}

.navbar-nav .dropdown-menu {
    background-color: #ebdcd5;
}

.navbar-nav .navLink,       /* navbar titles */
.navbar-nav .nav-link,      /* dropdown title */
.dropdown-toggle::after,    /* dropdown arrow */
.navbar-nav .nav-link:focus,
.navbar-nav .dropdown-item  /* dropdown items */{   
    color: #27637c;
}

/* Change the text & background color on hover */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show,
.navbar-nav .dropdown-item:hover {
    color: #ebdcd5 !important;
    background-color: rgba(39, 99, 124, 0.75);
}

.image-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;

}

.image-style {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    border-radius: 20px;
}